@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App {
  font-family: 'Lato', sans-serif;
  text-align: center ;
  background-color: #282c34;
  color: white;
}

h1 {
  font-size: 2rem;
}

li {
  list-style: none;
}

img {
  width: 14%;
}